
/*use small medium large stylesheets if possible */

/*SETTINGS*/
$bold-weight:700;


#container {
width: 100%;
max-width: $row-width;
margin: 40px auto;
box-shadow: 0px 0px 6px 0px rgba(100, 100, 100, 0.3);
background: #fff;
/* padding: 1.5625rem 0.625rem 0; */
}

/*--------
TYPOGRAPHY
----------*/

h1,h2,h3,h4{
letter-spacing:-1px;
}