body {
background: #e6e6e6;
color: #444;
}

#container {
width: 100%;
max-width: 62.5rem;
margin: 10px auto;
box-shadow: 0px 0px 6px 0px rgba(100, 100, 100, 0.3);
background: #fff;
padding: 1.5625rem 0.625rem 0;
}